@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700);
*{
    margin: 0px;
}
body, html{
    background: #fff;
    height: 100%;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    /* TODO: Change to percentage */
    font-size: 12px;
}
.wrapper-page{
    margin-bottom: -77px;
    height: 100% !important;
    min-height:100%;
    height: auto;
}
.push{
    height:77px;
}
/* HEADER STYLES */
.wrapper-header{
    height: 75px;
    border-bottom:  solid 5px #333;background: #FFF; margin-bottom: 12px;
}
.inner-header,.inner-navigation,.inner-footer,.inner-content {
    width: 900px;
    margin: auto;
}
.wrapper-header .inner-header .logo{
    background: url(../images/branding/logo.png) no-repeat;
    width:180px;
    height: 53px;
}
/* NAVIGATION STYLES */
.wrapper-navigation{
    background: #000 url(../../images/navigation/nav_bar_background.png) repeat-x; height:39px;
}
.inner-navigation ul.navigation-menu{
    list-style: none; padding: 0; margin: 0;
}
.inner-navigation ul.navigation-menu li{
    float:left;
    margin-right: 30px;
    position: relative;
}
.inner-navigation ul.navigation-menu li ul{
    position: absolute; top: 35px; left: 0px;
    padding: 10px;
    background: #4d4d4d;
    border-radius: 5px;
    border-top-left-radius:0;
}
.inner-navigation ul.navigation-menu li ul li{
    float:none;
    display: block;
}
.inner-navigation ul.navigation-menu li a{
    display: inline-block; height:20px; padding: 4px; text-decoration: none; border-bottom: solid 5px #000; color: #fff;
    /* TODO: change to percentage */
    font-size: 18px;
    margin-top: 2px;
}
.inner-navigation ul.navigation-menu li ul li{
    margin-right: 0;
}
.inner-navigation ul.navigation-menu li ul li a{

    border: none;
    width:200px;
    font-size: 12px;
}
.inner-navigation ul.navigation-menu li ul li a:hover{
    background: #414141;
}
.inner-navigation ul.navigation-menu li a.non-drop-down:hover{
    border-bottom-color: #004cd2;
}
.inner-navigation ul.navigation-menu li a.contact-finder:hover{
    border-bottom-color: #cc0000;
}
.inner-navigation ul.navigation-menu li a.faq-link:hover{
    border-bottom-color: #00CC00;
}
.inner-navigation ul.navigation-menu li a.drop-down-menu:hover{
    background-color: #4d4d4d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-color: #4d4d4d;
}
/* FOOTER STYLES */
.wrapper-footer{
    height: 65px; background: #FFF; border-top: 2px solid #515151;
    padding-top: 10px;
}
.inner-footer{
    text-align: right;
}
.inner-footer a{
    text-decoration: none;
    color: #333;
}
.inner-footer a:hover{
    text-decoration: underline;
}
/* MAIN CONTENT STYLES */
.inner-content .left-panel{
    float:left;
    width:600px;
}
.inner-content .right-panel{
    width:300px;height:100px;
    margin-left: 600px;
    background: #b3bdce;
}
/* MISC STYLES */
.powered-by-firmstep{
    width: 76px; height:27px;
    background: url(../images/firmstep/firmstep-logo.png) no-repeat;
    float: right;
}